---
import BaseLayout from "@components/base/BaseLayout.astro";
import Button from "@components/common/Button.astro";
---

<BaseLayout title="ページが見つかりません">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg p-4 sm:col-10 md:col-8 lg:col-6 intersect:animate-fadeUp opacity-0">
          <h1
            class="text-[8rem] block"
          >
            404
          </span>
          <h1 class="h2 mb-4">ページが見つかりません</h1>
          <p class="mb-8">
            お探しのページは移動または削除された可能性があります。
            お手数ですが、ホームページからお探しください。
          </p>
          <Button link="/" label="ホームに戻る" hoverInvert/>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
