---
import { upperHumanize } from "@lib/textConverter";

interface Props {
  title?: string;
  description?: string;
}

const { title = "", description }: Props = Astro.props;
---

<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-8">
        <div class="glass rounded-lg p-8 text-center intersect:animate-fadeDown opacity-0 intersect-no-queue">
          <h1 set:text={upperHumanize(title)} />
          {description && <p class="mt-4 text-lg opacity-80 whitespace-pre-line">{description}</p>}
        </div>
      </div>
    </div>
  </div>
</section>
